.venv/
__pycache__/
*.pyc

.env
env/
instance/
.pytest_cache/

.vscode/

*.db
*.sqlite
*.sqlite3
storage/
*.pyo
migrations_backup/

# Certificats de développement
dev-cert.pem
dev-key.pem

# Instance Flask
instance/
