Flask
Flask-SQLAlchemy
Flask-WTF
Flask-Migrate
Flask-Login
argon2-cffi
cryptography
python-dotenv
pytest
pytest-flask
bandit
pip-audit
email-validator
flask-talisman
reportlab
Flask-SocketIO 
python-socketio 
python-engineio 
requests